:root {
  --font-size-html: 62.5%;
  --color-dark: #1a1a1a;
  --color-light: #eee;
  --color-crimson: crimson;
  --color-green: #42b883;
  --color-green-lighter: #35eb9a;
  --transition-duration-timing-function: 0.5s linear;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: var(--font-size-html);
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: system-ui, sans-serif;
  text-rendering: optimizeLegibility;
  color: var(--color-light);
  background-color: var(--color-dark);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding: 2rem;
}

.slider {
  max-width: 100rem;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 4fr 1fr;
  grid-template-areas:
    'images images'
    'descriptions controls';
  row-gap: 2rem;
}

.slider-images {
  grid-area: images;
}

.slider-descriptions {
  grid-area: descriptions;
}

.slider-controls {
  grid-area: controls;
}

.slider-images,
.slider-descriptions {
  overflow-x: hidden;
}

.slider-images-track,
.slider-descriptions-track {
  display: flex;
}

.slider-description {
  flex: 1 0 100%;
}
